Repository cos301-2019-se/Amazon-Dash, pull requests merged in 2019-07, with the labels that each got.

#56 Added view to get ec2 instance metrics
  backend/app/views/ec2.py
  backend/services/aws.py
Labels: ⚙️ Backend ⚙️, ⭐ Feature ⭐

#57 [Feature] Dashboard View with metrics, stopping, restarting
  backend/app/__init__.py
  backend/app/views/ec2.py
  backend/services/aws.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/Chart.vue
  frontend/src/components/ServiceCard.vue
  frontend/src/main.ts
  frontend/src/models/instance.ts
  frontend/src/models/metric.ts
  frontend/src/plugins/laue.ts
  frontend/src/store/actions.ts
  frontend/src/store/mutations.ts
  frontend/src/store/types.ts
  frontend/src/typings/laue.d.ts
  frontend/src/views/Services.vue
Labels: ⭐ Feature ⭐, 📺 Frontend 📺

#59 [Feature] Instance filter search bar
  frontend/src/views/Services.vue
Labels: ⭐ Feature ⭐, 📺 Frontend 📺

#61 [Feature] Add sidebar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/plugins/vuetify.ts
Labels: ⭐ Feature ⭐, 📺 Frontend 📺

#60 Feature/instance screen
  .gitignore
  frontend/src/App.vue
  frontend/src/components/Chart.vue
  frontend/src/components/MetricCard.vue
  frontend/src/components/ServiceCard.vue
  frontend/src/models/MetricViewDataPoint.ts
  frontend/src/models/metricView.ts
  frontend/src/router.ts
  frontend/src/store/actions.ts
  frontend/src/store/getters.ts
  frontend/src/store/index.ts
  frontend/src/store/mutations.ts
  frontend/src/store/types.ts
  frontend/src/views/Metrics.vue
  frontend/src/views/Services.vue
Labels: ⭐ Feature ⭐, 📺 Frontend 📺

#67 [Features] General fixes
  frontend/src/components/MetricCard.vue
  frontend/src/store/actions.ts
  frontend/src/store/mutations.ts
  frontend/src/views/Metrics.vue
  frontend/src/views/Services.vue
Labels: 🐞 Bug Fix 🐞, 📺 Frontend 📺
