Repository cos301-2019-se/Amazon-Dash, pull requests merged in 2019-05, with the labels that each got.

#12 Added login endpoint
  backend/__main__.py
  backend/app.py
  backend/makefile
  backend/requirements.txt
  backend/services/__init__.py
  backend/setup.cfg
  backend/tests/__main__.py
  backend/tests/example_spec.py
  backend/tests/test_verify.py
Labels: ⭐ Feature ⭐

#15 Login screen added
  frontend/src/router.ts
  frontend/src/store.ts
  frontend/src/views/Login.vue
Labels: ⭐ Feature ⭐

#13 Added ec2_instances mock endpoint to return mock data
  backend/app.py
  backend/tests/__main__.py
  backend/tests/test_ec2_instances.py
Labels: ⭐ Feature ⭐

#18 Add files via upload
  Documentation/Demo 1/Capstone_SRS.pdf
  Documentation/Demo 1/Link to Overleaf.txt
Labels: ⭐ Feature ⭐

#28 Fixing boto3 integration
  backend/__main__.py
  backend/app.py
  backend/db.py
  backend/lib/db.py
  backend/lib/util.py
  backend/services/authentication.py
  backend/services/aws.py
  backend/tests/base.py
  backend/tests/test_ec2_instances.py
  backend/tests/test_google_verify.py
  backend/tests/test_verify.py
Labels: ⚙️ Backend ⚙️, 🐞 Bug Fix 🐞

#29 Fixed google auth
  backend/app.py
Labels: ⚙️ Backend ⚙️, ⭐ Feature ⭐

#30 Register fronted mockup
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/main.ts
  frontend/src/router.ts
  frontend/src/views/Login.vue
  frontend/src/views/Register.vue
Labels: ⭐ Feature ⭐, 📺 Frontend 📺

#31 added stop, restart, and start backend endpoints
  backend/app.py
  backend/services/aws.py
Labels: ⚙️ Backend ⚙️, ⭐ Feature ⭐
